In [119]:
import pandas as pd

In [120]:
df=pd.read_csv('..\\Data\\Extraidos\\sum_horario_programado2025I.csv',sep=';',encoding='utf-8-sig')
df.head()

,CodAsignatura,NomAsignatura,Créditos,CodDocente,NomDocente,Sección,Aula,Día,HoraInicio,HoraFin,Tope,Matriculados
0,INE002,PROGRAMACIÓN Y COMPUTACIÓN,2.0,0A0182,"RUIZ RIVERA, MARIA ELENA",2,211,VIERNES,14:00,15:00,4,2
1,INE002,PROGRAMACIÓN Y COMPUTACIÓN,2.0,0A0182,"RUIZ RIVERA, MARIA ELENA",2,211,VIERNES,15:00,17:00,4,2
2,INE002,PROGRAMACIÓN Y COMPUTACIÓN,2.0,07240690,"DAMASO RIOS, MARIA ROSA",3,211,MARTES,10:00,11:00,4,3
3,INE002,PROGRAMACIÓN Y COMPUTACIÓN,2.0,07240690,"DAMASO RIOS, MARIA ROSA",3,211,MARTES,11:00,13:00,4,3
4,INE002,PROGRAMACIÓN Y COMPUTACIÓN,2.0,085774,"VERA POMALAZA, VIRGINIA",5,211,MIERCOLES,10:00,11:00,4,1

In [121]:
print(df.dtypes)

CodAsignatura     object
NomAsignatura     object
Créditos         float64
CodDocente        object
NomDocente        object
Sección            int64
Aula              object
Día               object
HoraInicio        object
HoraFin           object
Tope               int64
Matriculados       int64
dtype: object

In [122]:
df["HoraInicioFormateada"] = pd.to_datetime(df["HoraInicio"], format="%H:%M")
#pd.to_datetime(df["HoraInicioFormateada"], format="%H:%M")
df

,CodAsignatura,NomAsignatura,Créditos,CodDocente,NomDocente,Sección,Aula,Día,HoraInicio,HoraFin,Tope,Matriculados,HoraInicioFormateada
0,INE002,PROGRAMACIÓN Y COMPUTACIÓN,2.0,0A0182,"RUIZ RIVERA, MARIA ELENA",2,211,VIERNES,14:00,15:00,4,2,1900-01-01 14:00:00
1,INE002,PROGRAMACIÓN Y COMPUTACIÓN,2.0,0A0182,"RUIZ RIVERA, MARIA ELENA",2,211,VIERNES,15:00,17:00,4,2,1900-01-01 15:00:00
2,INE002,PROGRAMACIÓN Y COMPUTACIÓN,2.0,07240690,"DAMASO RIOS, MARIA ROSA",3,211,MARTES,10:00,11:00,4,3,1900-01-01 10:00:00
3,INE002,PROGRAMACIÓN Y COMPUTACIÓN,2.0,07240690,"DAMASO RIOS, MARIA ROSA",3,211,MARTES,11:00,13:00,4,3,1900-01-01 11:00:00
4,INE002,PROGRAMACIÓN Y COMPUTACIÓN,2.0,085774,"VERA POMALAZA, VIRGINIA",5,211,MIERCOLES,10:00,11:00,4,1,1900-01-01 10:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,202W1004,TALLER DE APLICACIONES SOCIALES,3.0,46107976,"NINA CHOQUEHUAYTA, WILDER",2,AULA MAGN A,JUEVES,13:00,17:00,40,28,1900-01-01 13:00:00
220,202W1005,TENDENCIAS DE ARQUITECTURA DE SOFTWARE,3.0,0A1874,"CORDERO SÁNCHEZ, HUGO RAFAEL",1,NP- 107,LUNES,18:00,20:00,45,31,1900-01-01 18:00:00
221,202W1005,TENDENCIAS DE ARQUITECTURA DE SOFTWARE,3.0,0A1874,"CORDERO SÁNCHEZ, HUGO RAFAEL",1,NP- 107,LUNES,20:00,22:00,45,31,1900-01-01 20:00:00
222,202W1006,TENDENCIAS EN INGENIERÍA DE SOFTWARE Y GESTIÓN,3.0,0A1877,"BARTRA MORE, ARTURO ALEJANDRO",1,NP- 201,VIERNES,18:00,20:00,50,43,1900-01-01 18:00:00
223,202W1006,TENDENCIAS EN INGENIERÍA DE SOFTWARE Y GESTIÓN,3.0,0A1877,"BARTRA MORE, ARTURO ALEJANDRO",1,NP- 201,VIERNES,20:00,22:00,50,43,1900-01-01 20:00:00

In [123]:
df["HoraFinFormateada"] = pd.to_datetime(df["HoraFin"], format="%H:%M")
df

,CodAsignatura,NomAsignatura,Créditos,CodDocente,NomDocente,Sección,Aula,Día,HoraInicio,HoraFin,Tope,Matriculados,HoraInicioFormateada,HoraFinFormateada
0,INE002,PROGRAMACIÓN Y COMPUTACIÓN,2.0,0A0182,"RUIZ RIVERA, MARIA ELENA",2,211,VIERNES,14:00,15:00,4,2,1900-01-01 14:00:00,1900-01-01 15:00:00
1,INE002,PROGRAMACIÓN Y COMPUTACIÓN,2.0,0A0182,"RUIZ RIVERA, MARIA ELENA",2,211,VIERNES,15:00,17:00,4,2,1900-01-01 15:00:00,1900-01-01 17:00:00
2,INE002,PROGRAMACIÓN Y COMPUTACIÓN,2.0,07240690,"DAMASO RIOS, MARIA ROSA",3,211,MARTES,10:00,11:00,4,3,1900-01-01 10:00:00,1900-01-01 11:00:00
3,INE002,PROGRAMACIÓN Y COMPUTACIÓN,2.0,07240690,"DAMASO RIOS, MARIA ROSA",3,211,MARTES,11:00,13:00,4,3,1900-01-01 11:00:00,1900-01-01 13:00:00
4,INE002,PROGRAMACIÓN Y COMPUTACIÓN,2.0,085774,"VERA POMALAZA, VIRGINIA",5,211,MIERCOLES,10:00,11:00,4,1,1900-01-01 10:00:00,1900-01-01 11:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,202W1004,TALLER DE APLICACIONES SOCIALES,3.0,46107976,"NINA CHOQUEHUAYTA, WILDER",2,AULA MAGN A,JUEVES,13:00,17:00,40,28,1900-01-01 13:00:00,1900-01-01 17:00:00
220,202W1005,TENDENCIAS DE ARQUITECTURA DE SOFTWARE,3.0,0A1874,"CORDERO SÁNCHEZ, HUGO RAFAEL",1,NP- 107,LUNES,18:00,20:00,45,31,1900-01-01 18:00:00,1900-01-01 20:00:00
221,202W1005,TENDENCIAS DE ARQUITECTURA DE SOFTWARE,3.0,0A1874,"CORDERO SÁNCHEZ, HUGO RAFAEL",1,NP- 107,LUNES,20:00,22:00,45,31,1900-01-01 20:00:00,1900-01-01 22:00:00
222,202W1006,TENDENCIAS EN INGENIERÍA DE SOFTWARE Y GESTIÓN,3.0,0A1877,"BARTRA MORE, ARTURO ALEJANDRO",1,NP- 201,VIERNES,18:00,20:00,50,43,1900-01-01 18:00:00,1900-01-01 20:00:00
223,202W1006,TENDENCIAS EN INGENIERÍA DE SOFTWARE Y GESTIÓN,3.0,0A1877,"BARTRA MORE, ARTURO ALEJANDRO",1,NP- 201,VIERNES,20:00,22:00,50,43,1900-01-01 20:00:00,1900-01-01 22:00:00

In [124]:
print(df.dtypes)

CodAsignatura                   object
NomAsignatura                   object
Créditos                       float64
CodDocente                      object
NomDocente                      object
Sección                          int64
Aula                            object
Día                             object
HoraInicio                      object
HoraFin                         object
Tope                             int64
Matriculados                     int64
HoraInicioFormateada    datetime64[ns]
HoraFinFormateada       datetime64[ns]
dtype: object

In [125]:
df["Duracion"] = df["HoraFinFormateada"] - df["HoraInicioFormateada"]
df

,CodAsignatura,NomAsignatura,Créditos,CodDocente,NomDocente,Sección,Aula,Día,HoraInicio,HoraFin,Tope,Matriculados,HoraInicioFormateada,HoraFinFormateada,Duracion
0,INE002,PROGRAMACIÓN Y COMPUTACIÓN,2.0,0A0182,"RUIZ RIVERA, MARIA ELENA",2,211,VIERNES,14:00,15:00,4,2,1900-01-01 14:00:00,1900-01-01 15:00:00,0 days 01:00:00
1,INE002,PROGRAMACIÓN Y COMPUTACIÓN,2.0,0A0182,"RUIZ RIVERA, MARIA ELENA",2,211,VIERNES,15:00,17:00,4,2,1900-01-01 15:00:00,1900-01-01 17:00:00,0 days 02:00:00
2,INE002,PROGRAMACIÓN Y COMPUTACIÓN,2.0,07240690,"DAMASO RIOS, MARIA ROSA",3,211,MARTES,10:00,11:00,4,3,1900-01-01 10:00:00,1900-01-01 11:00:00,0 days 01:00:00
3,INE002,PROGRAMACIÓN Y COMPUTACIÓN,2.0,07240690,"DAMASO RIOS, MARIA ROSA",3,211,MARTES,11:00,13:00,4,3,1900-01-01 11:00:00,1900-01-01 13:00:00,0 days 02:00:00
4,INE002,PROGRAMACIÓN Y COMPUTACIÓN,2.0,085774,"VERA POMALAZA, VIRGINIA",5,211,MIERCOLES,10:00,11:00,4,1,1900-01-01 10:00:00,1900-01-01 11:00:00,0 days 01:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,202W1004,TALLER DE APLICACIONES SOCIALES,3.0,46107976,"NINA CHOQUEHUAYTA, WILDER",2,AULA MAGN A,JUEVES,13:00,17:00,40,28,1900-01-01 13:00:00,1900-01-01 17:00:00,0 days 04:00:00
220,202W1005,TENDENCIAS DE ARQUITECTURA DE SOFTWARE,3.0,0A1874,"CORDERO SÁNCHEZ, HUGO RAFAEL",1,NP- 107,LUNES,18:00,20:00,45,31,1900-01-01 18:00:00,1900-01-01 20:00:00,0 days 02:00:00
221,202W1005,TENDENCIAS DE ARQUITECTURA DE SOFTWARE,3.0,0A1874,"CORDERO SÁNCHEZ, HUGO RAFAEL",1,NP- 107,LUNES,20:00,22:00,45,31,1900-01-01 20:00:00,1900-01-01 22:00:00,0 days 02:00:00
222,202W1006,TENDENCIAS EN INGENIERÍA DE SOFTWARE Y GESTIÓN,3.0,0A1877,"BARTRA MORE, ARTURO ALEJANDRO",1,NP- 201,VIERNES,18:00,20:00,50,43,1900-01-01 18:00:00,1900-01-01 20:00:00,0 days 02:00:00
223,202W1006,TENDENCIAS EN INGENIERÍA DE SOFTWARE Y GESTIÓN,3.0,0A1877,"BARTRA MORE, ARTURO ALEJANDRO",1,NP- 201,VIERNES,20:00,22:00,50,43,1900-01-01 20:00:00,1900-01-01 22:00:00,0 days 02:00:00

In [126]:
df["DuracionHoras"] = df["Duracion"].dt.total_seconds() / 3600
df

,CodAsignatura,NomAsignatura,Créditos,CodDocente,NomDocente,Sección,Aula,Día,HoraInicio,HoraFin,Tope,Matriculados,HoraInicioFormateada,HoraFinFormateada,Duracion,DuracionHoras
0,INE002,PROGRAMACIÓN Y COMPUTACIÓN,2.0,0A0182,"RUIZ RIVERA, MARIA ELENA",2,211,VIERNES,14:00,15:00,4,2,1900-01-01 14:00:00,1900-01-01 15:00:00,0 days 01:00:00,1.0
1,INE002,PROGRAMACIÓN Y COMPUTACIÓN,2.0,0A0182,"RUIZ RIVERA, MARIA ELENA",2,211,VIERNES,15:00,17:00,4,2,1900-01-01 15:00:00,1900-01-01 17:00:00,0 days 02:00:00,2.0
2,INE002,PROGRAMACIÓN Y COMPUTACIÓN,2.0,07240690,"DAMASO RIOS, MARIA ROSA",3,211,MARTES,10:00,11:00,4,3,1900-01-01 10:00:00,1900-01-01 11:00:00,0 days 01:00:00,1.0
3,INE002,PROGRAMACIÓN Y COMPUTACIÓN,2.0,07240690,"DAMASO RIOS, MARIA ROSA",3,211,MARTES,11:00,13:00,4,3,1900-01-01 11:00:00,1900-01-01 13:00:00,0 days 02:00:00,2.0
4,INE002,PROGRAMACIÓN Y COMPUTACIÓN,2.0,085774,"VERA POMALAZA, VIRGINIA",5,211,MIERCOLES,10:00,11:00,4,1,1900-01-01 10:00:00,1900-01-01 11:00:00,0 days 01:00:00,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,202W1004,TALLER DE APLICACIONES SOCIALES,3.0,46107976,"NINA CHOQUEHUAYTA, WILDER",2,AULA MAGN A,JUEVES,13:00,17:00,40,28,1900-01-01 13:00:00,1900-01-01 17:00:00,0 days 04:00:00,4.0
220,202W1005,TENDENCIAS DE ARQUITECTURA DE SOFTWARE,3.0,0A1874,"CORDERO SÁNCHEZ, HUGO RAFAEL",1,NP- 107,LUNES,18:00,20:00,45,31,1900-01-01 18:00:00,1900-01-01 20:00:00,0 days 02:00:00,2.0
221,202W1005,TENDENCIAS DE ARQUITECTURA DE SOFTWARE,3.0,0A1874,"CORDERO SÁNCHEZ, HUGO RAFAEL",1,NP- 107,LUNES,20:00,22:00,45,31,1900-01-01 20:00:00,1900-01-01 22:00:00,0 days 02:00:00,2.0
222,202W1006,TENDENCIAS EN INGENIERÍA DE SOFTWARE Y GESTIÓN,3.0,0A1877,"BARTRA MORE, ARTURO ALEJANDRO",1,NP- 201,VIERNES,18:00,20:00,50,43,1900-01-01 18:00:00,1900-01-01 20:00:00,0 days 02:00:00,2.0
223,202W1006,TENDENCIAS EN INGENIERÍA DE SOFTWARE Y GESTIÓN,3.0,0A1877,"BARTRA MORE, ARTURO ALEJANDRO",1,NP- 201,VIERNES,20:00,22:00,50,43,1900-01-01 20:00:00,1900-01-01 22:00:00,0 days 02:00:00,2.0

In [127]:
#df[
    #(df["Asignatura"] == "202W0507 - INGENIERÍA DE REQUISITOS") 
    #& (df["Docente"] == "0A1609 - ZAVALETA CAMPOS, JORGE LUIS")
#]

In [128]:
horas_dictadas_docente=df.groupby(["CodAsignatura","NomAsignatura", "CodDocente","NomDocente", "Sección"])["DuracionHoras"].sum().reset_index()
horas_dictadas_docente

,CodAsignatura,NomAsignatura,CodDocente,NomDocente,Sección,DuracionHoras
0,202W0301,ALGORÍTMICA I,085774,"VERA POMALAZA, VIRGINIA",2,5.0
1,202W0301,ALGORÍTMICA I,0A1609,"ZAVALETA CAMPOS, JORGE LUIS",4,3.0
2,202W0301,ALGORÍTMICA I,0A9179,"TAPIA CARBAJAL, JUAN RICARDO",1,5.0
3,202W0302,ESTADÍSTICA,007056,"BARTOLO GOTARATE, FELIX MANUEL",1,5.0
4,202W0302,ESTADÍSTICA,043788,"MENDOZA SOLIS, JACINTO PEDRO",4,5.0
...,...,...,...,...,...,...
107,INO103,DESARROLLO PERSONAL Y LIDERAZGO,41388541,"AGUILAR CORONEL, JHONATHAN",6,3.0
108,INO106,ÁLGEBRA Y GEOMETRÍA ANALÍTICA,21571331,"BARBOZA CARAPE, LUIS LEONCIO",1,6.0
109,INO106,ÁLGEBRA Y GEOMETRÍA ANALÍTICA,40667934,"TERREROS NAVARRO, HELLEN GLORIA",2,6.0
110,INO204,CÁLCULO II,40764399,"MARAVI PERCCA, EDWIN",1,6.0
111,INO205,FÍSICA I,0A4049,"ADRIANO PEÑA, ROLANDO WILDER",1,5.0

In [129]:
#horas_dictadas_docente.to_csv("horas.csv", index=False)

## Se genera el dataset Duracion Asignatura

In [130]:
duracion_asignatura = horas_dictadas_docente[["CodAsignatura","NomAsignatura", "DuracionHoras"]].drop_duplicates()
duracion_asignatura

    CodAsignatura                     NomAsignatura  DuracionHoras
0        202W0301                     ALGORÍTMICA I            5.0
1        202W0301                     ALGORÍTMICA I            3.0
3        202W0302                       ESTADÍSTICA            5.0
5        202W0303                FISICA ELÉCTRONICA            4.0
7        202W0304              INGENIERÍA ECONÓMICA            4.0
..            ...                               ...            ...
106        INO102  MÉTODOS DE ESTUDIO UNIVERSITARIO            3.0
107        INO103   DESARROLLO PERSONAL Y LIDERAZGO            3.0
108        INO106     ÁLGEBRA Y GEOMETRÍA ANALÍTICA            6.0
110        INO204                        CÁLCULO II            6.0
111        INO205                          FÍSICA I            5.0

[65 rows x 3 columns]

Agregamos dato de a que curso pertenece la asignatura

In [131]:
ciclo_asignatura=pd.read_csv("..\\Data\\Extraidos\\ciclo_asignatura.csv",sep=";",encoding="utf-8-sig")
ciclo_asignatura.head()

,Ciclo,Asignatura,CodAsignatura,NomAsignatura
0,1,INE001 - PROCESO CULTURAL ANDINO,INE001,PROCESO CULTURAL ANDINO
1,1,INE002 - PROGRAMACIÓN Y COMPUTACIÓN,INE002,PROGRAMACIÓN Y COMPUTACIÓN
2,1,INE003 - DIBUJO TÉCNICO,INE003,DIBUJO TÉCNICO
3,1,INE004 - INGLÉS PARA ESCRITURA ACADÉMICA,INE004,INGLÉS PARA ESCRITURA ACADÉMICA
4,1,INE005 - MATLAB,INE005,MATLAB

In [132]:
duracion_asignatura = duracion_asignatura.merge(
    ciclo_asignatura[['CodAsignatura', 'Ciclo']],
    how='left',
    on='CodAsignatura'
).drop(columns='CodAsignatura')  # elimina el campo CodAsignatura si no lo necesitas

In [133]:
duracion_asignatura.head()

          NomAsignatura  DuracionHoras  Ciclo
0         ALGORÍTMICA I            5.0      3
1         ALGORÍTMICA I            3.0      3
2           ESTADÍSTICA            5.0      3
3    FISICA ELÉCTRONICA            4.0      3
4  INGENIERÍA ECONÓMICA            4.0      3

In [134]:
duracion_asignatura= duracion_asignatura.merge(
    ciclo_asignatura[['NomAsignatura','CodAsignatura','Ciclo']],
    how='left',
    on='NomAsignatura'
)

In [135]:
duracion_asignatura

,NomAsignatura,DuracionHoras,Ciclo_x,CodAsignatura,Ciclo_y
0,ALGORÍTMICA I,5.0,3,202W0301,3
1,ALGORÍTMICA I,3.0,3,202W0301,3
2,ESTADÍSTICA,5.0,3,202W0302,3
3,FISICA ELÉCTRONICA,4.0,3,202W0303,3
4,INGENIERÍA ECONÓMICA,4.0,3,202W0304,3
...,...,...,...,...,...
60,MÉTODOS DE ESTUDIO UNIVERSITARIO,3.0,1,INO102,1
61,DESARROLLO PERSONAL Y LIDERAZGO,3.0,1,INO103,1
62,ÁLGEBRA Y GEOMETRÍA ANALÍTICA,6.0,1,INO106,1
63,CÁLCULO II,6.0,2,INO204,2
64,FÍSICA I,5.0,2,INO205,2

In [136]:
duracion_asignatura = duracion_asignatura.drop(columns=['Ciclo_y'])  # eliminar la columna Ciclo_y
duracion_asignatura = duracion_asignatura.rename(columns={'Ciclo_x': 'Ciclo'})  # renombrar Ciclo_x como Ciclo
duracion_asignatura.head()

          NomAsignatura  DuracionHoras  Ciclo CodAsignatura
0         ALGORÍTMICA I            5.0      3      202W0301
1         ALGORÍTMICA I            3.0      3      202W0301
2           ESTADÍSTICA            5.0      3      202W0302
3    FISICA ELÉCTRONICA            4.0      3      202W0303
4  INGENIERÍA ECONÓMICA            4.0      3      202W0304

In [137]:
duracion_asignatura.to_csv("..\\Data\\Extraidos\\duracion_asignatura.csv", index=False,sep=";",encoding='utf-8-sig')

Se tiene que eliminar los registros donde Algoritmica I tiene una duración de 3 horas y donde Ingeniería de requisitos tiene 3 horas porque son errores dentro de la BD fuente