In [9]:
import pandas as pd

In [10]:
df=pd.read_csv("..\\Data\\Origen\\ciclo_asignatura.csv",sep=";",encoding="utf-8-sig")
df.head()

   Ciclo                                Asignatura
0      1          INE001 - PROCESO CULTURAL ANDINO
1      1       INE002 - PROGRAMACIÓN Y COMPUTACIÓN
2      1                   INE003 - DIBUJO TÉCNICO
3      1  INE004 - INGLÉS PARA ESCRITURA ACADÉMICA
4      1                           INE005 - MATLAB

In [11]:
df[['CodAsignatura', 'NomAsignatura']] = df['Asignatura'].str.split(' - ', expand=True)
df.head()

,Ciclo,Asignatura,CodAsignatura,NomAsignatura
0,1,INE001 - PROCESO CULTURAL ANDINO,INE001,PROCESO CULTURAL ANDINO
1,1,INE002 - PROGRAMACIÓN Y COMPUTACIÓN,INE002,PROGRAMACIÓN Y COMPUTACIÓN
2,1,INE003 - DIBUJO TÉCNICO,INE003,DIBUJO TÉCNICO
3,1,INE004 - INGLÉS PARA ESCRITURA ACADÉMICA,INE004,INGLÉS PARA ESCRITURA ACADÉMICA
4,1,INE005 - MATLAB,INE005,MATLAB

In [12]:
df.to_csv("..\\Data\\Extraidos\\ciclo_asignatura.csv",sep=";",encoding="utf-8-sig",index=False)